{% extends "base_default.html" %}

{% block body %}
    <div class="register">
    <h1>User Registration</h1>
    <p> If you have already registered, click <a href="{{SITE_URL}}/students/login/"> here </a>
    to login. Otherwise, please fill in the following details to register: </p>

    <form action="{{SITE_URL}}/register/user/" method="POST">
       <div class="register">
        <table name="register">
            {{ form.as_table }}
        </table>
        <i>Can't find your college? Click <a href="{{SITE_URL}}/register/college">Here</a></i><br />
        <input type="submit" value="Register" />
        </div>

    </form>
    </div>

{% endblock %}
